{% extends "base.html" %}

{% block title %}Nike - JhorStep{% endblock %}

{% block content %}
    
    <!-- Categoría -->
    <div class="section">
        <h2>Categoría: Nike</h2>
        <p>Bienvenido a productos marca nike</p>
    </div>

    <!-- Productos -->
    <div class="section">Productos</div>
    <div class="blue-bar"></div>

    <div class="table-container">
        <h5>Productos</h5>
        <button class="btn btn-dark mb-3"><i class="bi bi-plus-lg"></i> Añadir Producto</button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Referencia</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <p></p>
    </div>

    <!-- Empleados -->
    <div class="section">Empleados</div>
    <div class="blue-bar"></div>

    <!-- Clientes -->
    <div class="section">Clientes</div>
    <div class="blue-bar"></div>

{% endblock %}
