{% extends "base.html" %}

{% block title %}Nosotros - JhorStep{% endblock %}

{% block content %}
    <h1 class="text-center text-dark">Bienvenido a JhorStep Acerca de nosotros</h1>
    <p class="text-center">En JhorStep , somos apasionados por el estilo, la comodidad y el rendimiento. Nos especializamos en ofrecer una amplia selección de zapatos de las marcas más reconocidas del mundo, como Nike, Adidas, Puma, Reebok y Vans . Nuestro compromiso es brindarte productos 100% originales con la mejor calidad y al mejor precio.

        Nos esforzamos por ofrecer una experiencia de compra fácil, segura y rápida, para que encuentres el calzado ideal para cada ocasión, ya sea para entrenar, salir con amigos o complementar tu outfit con el mejor estilo.
        
        ¡En JhorStep , caminamos contigo hacia la mejor versión de tu estilo!</p>
{% endblock %}    