{% extends "base.html" %}

{% block title %}Sucursales - JhorStep{% endblock %}

{% block content %}
<h1 class="text-center text-dark">Bienvenido a JhorStep</h1>
    <p class="text-center">Estos son nuestras Sucursales.</p>

    <!-- Sucursales -->
    <div class="table-container">
        <button class="btn btn-dark mb-3"><i class="bi bi-plus-lg"></i> Añadir Sucursales</button>
    </div> <br>
    
    <div class="table-container">
        <h5>Lista Sucursales</h5><br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Sucursal</th>
                    <th>N° Socursal</th>
                    <th>Capacidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <p></p>
    </div>
{% endblock %}
